@media only screen and (max-width: 375px) {
    html {
        font-size: 100%!important;
    }
}

@media only screen and (min-width: 376px) and (max-width: 561px) {
    html {
        font-size: 125%!important;
    }
}

@media only screen and (min-width: 561px) and (max-width: 640px) {
    html {
        font-size: 150%!important;
    }
}

@media only screen and (min-width: 641px) and (max-width: 749px) {
    html {
        font-size: 175%!important;
    }
}

@media only screen and (min-width: 750px) {
    html {
        font-size: 187.5%!important;
    }
}